Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

minor cleanup
  crosshair/condition_parser_test.py
  crosshair/core_test.py
  crosshair/diff_behavior_test.py
Due: none

Allow distinct returns from symbolic functions
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/collectionslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Extracted a timeout extension capability
  crosshair/path_cover.py
  crosshair/statespace.py
  doc/source/changelog.rst
Due: doctest, help in doc

Extend str.startswith slicing fix to str.endswith
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.96
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Update numpy version
  setup.py
Due: __init__ + setup.py

remove deprecated license classifier
  setup.py
Due: __init__ + setup.py

Updates for 3.14
  .github/workflows/buildwheels.yml
  .github/workflows/check.yml
  crosshair/_tracers.c
  crosshair/_tracers_test.py
  crosshair/condition_parser.py
  crosshair/fnutil_test.py
  crosshair/fuzz_core_test.py
  crosshair/opcode_intercept.py
Due: none

Upgrade black
  .pre-commit-config.yaml
  crosshair/codeconfig.py
  crosshair/core.py
  crosshair/dynamic_typing.py
  crosshair/enforce.py
  crosshair/examples/check_examples_test.py
  crosshair/examples/deal/bugs_detected/list_to_dict.out
  crosshair/examples/deal/bugs_detected/list_to_dict.py
  crosshair/fnutil.py
  crosshair/libimpl/arraylib.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_ch_test.py
  crosshair/libimpl/encodings/_encutil.py
  crosshair/libimpl/unicodedatalib_test.py
  crosshair/main.py
  crosshair/register_contract.py
  crosshair/register_contract_test.py
  crosshair/simplestructs.py
  crosshair/statespace.py
  crosshair/tools/generate_demo_table.py
  crosshair/tracers.py
  crosshair/util.py
  setup.cfg
  setup.py
Due: __init__ + setup.py, help in doc

Upgrade mypy
  .github/workflows/buildwheels.yml
  .github/workflows/check.yml
  .pre-commit-config.yaml
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/encodings/_encutil.py
  crosshair/libimpl/relib.py
  crosshair/opcode_intercept.py
  crosshair/pathing_oracle.py
  crosshair/pathing_oracle_test.py
  setup.cfg
  setup.py
Due: __init__ + setup.py

Update cibuildwheel
  .github/workflows/buildwheels.yml
Due: none

simplify test path tree
  crosshair/libimpl/builtinslib_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.97
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Update doc build python version
  .github/workflows/build_documentation.yml
Due: none

changelog tweak
  doc/source/changelog.rst
Due: doctest, help in doc

Add hypothesis tests in ci
  .github/workflows/test_hypothesis.yml
Due: none

hypothesis tests - use plugin at head
  .github/workflows/test_hypothesis.yml
Due: none

Simplify numpy test versions (see #378)
  setup.py
Due: __init__ + setup.py

Add simultaneous pygls v1 & v2 compatibility
  crosshair/lsp_server.py
Due: none

Run hypothesis tests manually too
  .github/workflows/test_hypothesis.yml
Due: none

Use bounded ints for fewer solver calls; see #353
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/randomlib.py
  doc/source/how_does_it_work.rst
Due: doctest, help in doc

Bound len checking for array based uniform tuple
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Use SymbolicBoundedInt even with multiple ranges
  crosshair/libimpl/builtinslib.py
Due: none

Fix some extension module memory leaks
  crosshair/_tracers.c
Due: none

Avoid calling realize when it may require tracing
  crosshair/tracers.py
Due: none

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
