Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Update test for python 3.9
  crosshair/libimpl/fractionlib_test.py
Due: none

Pin z3 version for CI
  setup.py
Due: __init__ + setup.py

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Run `with_realized_args` function under tracing
  crosshair/core.py
  crosshair/libimpl/fractionlib_test.py
Due: none

Run real `int()` under tracing
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/fractionlib_test.py
Due: none

Fix false-positive on `map(fn,it1,it2,...)` calls
  crosshair/libimpl/builtinslib.py
  crosshair/patch_equivalence_test.py
Due: none

Bump version to 0.0.93
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add `type` statement support
  crosshair/core.py
  crosshair/core_test.py
  crosshair/dynamic_typing.py
  crosshair/dynamic_typing_test.py
Due: none

Improve docs and warnings for assert mode checking
  crosshair/examples/check_examples_test.py
  crosshair/main.py
  crosshair/main_test.py
  doc/source/changelog.rst
  doc/source/contracts.rst
  doc/source/kinds_of_contracts.rst
Due: doctest, help in doc

Bump version to 0.0.94
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix changelog link
  doc/source/changelog.rst
Due: doctest, help in doc

Correct some SymbolicObject in-place operations
  crosshair/libimpl/builtinslib.py
  crosshair/objectproxy.py
  crosshair/objectproxy_test.py
Due: none

Bump version to 0.0.95
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Minimize cover's example inputs
  crosshair/path_cover.py
  doc/source/cover.rst
Due: doctest, help in doc

include windows in CI
  .github/workflows/check.yml
Due: none

Extracted a timeout extension capability
  crosshair/path_cover.py
  crosshair/statespace.py
  doc/source/changelog.rst
Due: doctest, help in doc

update test trigger paths
  .github/workflows/check.yml
Due: none

minor cleanup
  crosshair/condition_parser_test.py
  crosshair/core_test.py
  crosshair/diff_behavior_test.py
Due: none

Allow distinct returns from symbolic functions
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/collectionslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Minor typing/naming fixes
  crosshair/core.py
  crosshair/libimpl/builtinslib.py
Due: none

Add binary search for some containers
  crosshair/opcode_intercept.py
  crosshair/statespace.py
  crosshair/statespace_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add ConstrainedOracle
  crosshair/pathing_oracle.py
  crosshair/pathing_oracle_test.py
  crosshair/statespace.py
Due: none

Fix str.startswith(<symbolic>)
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Fix startswith on "", off the right side of string
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Extend str.startswith slicing fix to str.endswith
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Fix functools.partial interceptions
  crosshair/libimpl/functoolslib.py
  crosshair/libimpl/functoolslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
