Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Allow passing SymbolicBool to StateSpace.add()
  crosshair/statespace.py
Due: none

Fix symbolic integer parsing with base > 10
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Ensure dict(other_dict) doesn't share state
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Introduce assert_tracing decorator
  crosshair/util.py
Due: none

Add extra sanity checks
  crosshair/libimpl/builtinslib.py
  crosshair/statespace.py
  crosshair/type_repo.py
  crosshair/util.py
Due: none

Removed yanked typing package
  setup.py
Due: __init__ + setup.py

Remove unused imports
  crosshair/condition_parser.py
Due: none

tidy up logging
  crosshair/pathing_oracle.py
  crosshair/statespace.py
Due: none

Stop logging path tree at detached path node
  crosshair/pathing_oracle.py
Due: none

Optimize symbolic int->str conversion
  crosshair/libimpl/builtinslib.py
Due: none

Avoid crashes using zlib with symbolic bytes
  crosshair/core_and_libs.py
  crosshair/libimpl/zliblib.py
  crosshair/libimpl/zliblib_test.py
Due: none

Indent CrossHairInternal stacks
  crosshair/util.py
Due: none

Minimize test_optimize_options test flakes
  crosshair/path_search.py
  crosshair/path_search_test.py
Due: none

Avoid NonDeterministic using ipaddress networks
  crosshair/core_and_libs.py
  crosshair/libimpl/ipaddresslib.py
Due: none

Fix frozenset hashing
  crosshair/copyext.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/collectionslib_test.py
Due: none

Move CrossHairValue to util module
  crosshair/core.py
  crosshair/libimpl/arraylib.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/collectionslib.py
  crosshair/libimpl/copylib.py
  crosshair/libimpl/decimallib.py
  crosshair/libimpl/iolib.py
  crosshair/libimpl/relib.py
  crosshair/opcode_intercept.py
  crosshair/simplestructs.py
  crosshair/util.py
Due: none

Remove accidental parenthesized context manager
  crosshair/statespace_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Add timeout test
  crosshair/statespace_test.py
Due: none

Bump version to 0.0.65
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix memoryview construction from symbolic bytes
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Support symbolic booleans in is_possible
  crosshair/statespace.py
Due: none

Fix int.from_bytes error w/ unsized iterable
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add checks for tracing reentry
  crosshair/statespace.py
  crosshair/tracers.py
Due: none

Prevent destructuive heapq modifications
  crosshair/libimpl/heapqlib.py
  crosshair/util.py
  crosshair/util_test.py
Due: none

Add symbolic support for base64 encode/decode
  crosshair/core_and_libs.py
  crosshair/libimpl/binascii_ch_test.py
  crosshair/libimpl/binascii_test.py
  crosshair/libimpl/binasciilib.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add missing heapq type checking
  crosshair/libimpl/heapqlib.py
Due: none

Add missing binascii type checking
  crosshair/libimpl/binasciilib.py
Due: none

Don't trace so much of diff_behavior
  crosshair/diff_behavior.py
Due: none

more heap
  crosshair/libimpl/heapqlib.py
  crosshair/libimpl/heapqlib_test.py
Due: none

Simplify set override
  crosshair/libimpl/builtinslib.py
  crosshair/simplestructs.py
Due: none

Make differently typed containers non-equal
  crosshair/libimpl/arraylib.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Pass a memo dict to __ch_deep_realize__
  crosshair/copyext.py
  crosshair/core.py
  crosshair/libimpl/decimallib.py
  crosshair/libimpl/encodings/_encutil.py
  crosshair/libimpl/relib.py
Due: none

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
