Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Error when tracing inside an opcode handler
  crosshair/tracers.py
Due: none

Improve concrete-symbolic datetime interopability
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

tracing stuff part 2
  crosshair/libimpl/builtinslib.py
  crosshair/simplestructs.py
Due: none

Make string iteration use bounded ints
  crosshair/libimpl/builtinslib.py
Due: none

Fix typo
  crosshair/condition_parser.py
Due: none

Harden source line identification
  crosshair/core.py
  crosshair/util.py
Due: none

Temporarily disable icontract test
  crosshair/core_test.py
Due: none

Handle missing as_long in z3=4.15.4.0
  crosshair/statespace.py
  crosshair/statespace_test.py
  setup.py
Due: __init__ + setup.py

Run hypothesis tests manually too
  .github/workflows/test_hypothesis.yml
Due: none

Use SymbolicBoundedInt even with multiple ranges
  crosshair/libimpl/builtinslib.py
Due: none

Fix some extension module memory leaks
  crosshair/_tracers.c
Due: none

Avoid calling realize when it may require tracing
  crosshair/tracers.py
Due: none

Use bounded ints for fewer solver calls; see #353
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/randomlib.py
  doc/source/how_does_it_work.rst
Due: doctest, help in doc

Bound len checking for array based uniform tuple
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.98
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Transform dict views across realization boundaries
  crosshair/copyext.py
  crosshair/copyext_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Enable dict view copies only for 3.10+
  crosshair/copyext.py
  crosshair/copyext_test.py
Due: none

Bump version to 0.0.99
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Clean path tree during nondeterministic detach
  crosshair/statespace.py
Due: none

Bump version to 0.0.100
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Do not debug traceback when not present
  crosshair/main.py
Due: help in doc

Support configurable auditwall behaviors
  crosshair/auditwall.py
  crosshair/auditwall_test.py
Due: none

Add --unblock option for side effects
  crosshair/auditwall.py
  crosshair/auditwall_test.py
  crosshair/main.py
  crosshair/options.py
  crosshair/watcher.py
  crosshair/watcher_test.py
  doc/source/changelog.rst
  doc/source/contracts.rst
  doc/source/cover.rst
  doc/source/diff_behavior.rst
Due: doctest, help in doc
