Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Remove unused imports
  crosshair/fuzz_core_test.py
  crosshair/statespace.py
Due: none

Allow subclass elements inside containers
  crosshair/core.py
  crosshair/dynamic_typing.py
  crosshair/dynamic_typing_test.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/util.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.42
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add multi-target support for crosshair cover
  crosshair/core.py
  crosshair/fnutil.py
  crosshair/main.py
  crosshair/path_cover.py
  crosshair/path_cover_test.py
  crosshair/path_search.py
  crosshair/util.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add back "Targeting" header in docs
  doc/source/contracts.rst
Due: doctest, help in doc

Add --max_uninteresting_iterations option
  crosshair/core.py
  crosshair/main.py
  crosshair/options.py
  crosshair/statespace.py
  doc/source/contracts.rst
  doc/source/cover.rst
Due: doctest, help in doc

Add eval-friendly enum repr'ing
  crosshair/util.py
  crosshair/util_test.py
Due: none

Add assertion message handling in pytest cover command
  crosshair/path_cover.py
Due: none

Add last contributor in contributor's list
  doc/source/contributing.rst
Due: doctest, help in doc

Realize cover exception message earlier
  crosshair/path_cover.py
  crosshair/path_cover_test.py
Due: none

Bump version to 0.0.43
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add build.os to readthedocs config
  .readthedocs.yml
Due: none

Try to get readthedocs build working again
  .readthedocs.yml
Due: none

Output eval-friendly results for cover's pytests
  crosshair/core.py
  crosshair/path_cover.py
  crosshair/path_cover_test.py
Due: none

Bump version to 0.0.44
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Produce correct imports for generated tests
  crosshair/core.py
  crosshair/path_cover.py
  crosshair/path_cover_test.py
  crosshair/util.py
  crosshair/util_test.py
  setup.cfg
Due: none

Ensure str.capitalize lowercases the string tail
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
Due: none

Set default stop to max_uninteresting_iterations=5
  crosshair/core_test.py
  crosshair/diff_behavior_test.py
  crosshair/examples/PEP316/__init__.py
  crosshair/examples/PEP316/bugs_detected/getattr_magic.out
  crosshair/examples/PEP316/bugs_detected/getattr_magic.py
  crosshair/examples/deal/__init__.py
  crosshair/examples/hypothesis/__init__.py
  crosshair/examples/icontract/__init__.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/codecslib_test.py
  crosshair/libimpl/collectionslib_ch_test.py
  crosshair/libimpl/datetimelib_test.py
  crosshair/libimpl/encodings_ch_test.py
  crosshair/libimpl/heapqlib_test.py
  crosshair/libimpl/iolib_ch_test.py
  crosshair/libimpl/jsonlib_ch_test.py
  crosshair/libimpl/relib_ch_test.py
  crosshair/libimpl/relib_test.py
  crosshair/main.py
  crosshair/options.py
  crosshair/path_cover_test.py
  crosshair/test_util.py
  doc/source/contracts.rst
  doc/source/cover.rst
  doc/source/diff_behavior.rst
Due: doctest, __init__ + setup.py, help in doc

Add resilience for malformed hypothesis tests
  crosshair/condition_parser.py
Due: none

Base watch/LSP on max_uninteresting_iterations
  crosshair/lsp_server.py
  crosshair/main.py
  crosshair/watcher.py
Due: help in doc

Make check_exec_err consistent with check_states
  crosshair/test_util.py
Due: none

Add pure implementation of list.index
  crosshair/libimpl/builtinslib.py
Due: none

Fix generated test imports for nested identifiers
  crosshair/path_cover.py
  crosshair/path_cover_test.py
Due: none

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
