Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Ensure timedelta components are integers
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

Allow multiple ranges for SymbolicBoundedIntTuple
  crosshair/libimpl/builtinslib.py
  crosshair/z3util.py
Due: none

Reduce the datetimelib tests run time.
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

Python 3.12 support
  crosshair/pure_importer.py
  setup.py
Due: __init__ + setup.py

Add Python 3.12 support
  .github/workflows/buildwheels.yml
  .github/workflows/check.yml
  .pre-commit-config.yaml
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/_tracers_test.py
  crosshair/condition_parser_test.py
  crosshair/core.py
  crosshair/examples/icontract/correct_code/arith.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/opcode_intercept.py
  crosshair/simplestructs_test.py
  crosshair/tracers.py
  crosshair/unicode_categories.py
  setup.cfg
  setup.py
Due: __init__ + setup.py

Try fresh-installing setuptools
  .github/workflows/check.yml
Due: none

Fix icontract test
  crosshair/_tracers.c
  crosshair/condition_parser_test.py
  crosshair/core.py
  crosshair/tracers.py
  setup.py
Due: __init__ + setup.py

Add Python 3.12 support (#233)
  .github/workflows/buildwheels.yml
  .github/workflows/check.yml
  .pre-commit-config.yaml
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/_tracers_test.py
  crosshair/condition_parser_test.py
  crosshair/core.py
  crosshair/examples/icontract/correct_code/arith.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/opcode_intercept.py
  crosshair/pure_importer.py
  crosshair/simplestructs_test.py
  crosshair/tracers.py
  crosshair/unicode_categories.py
  setup.cfg
  setup.py
Due: __init__ + setup.py

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.46
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Allow for concatenation of objects of undecided types.
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Do not attempt to get signatures of non-callables
  crosshair/fnutil.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Bump version to 0.0.47
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Run spellcheck on docs
  doc/source/changelog.rst
  doc/source/contracts.rst
  doc/source/contributing.rst
  doc/source/cover.rst
  doc/source/diff_behavior.rst
  doc/source/hints_for_your_classes.rst
  doc/source/how_can_i_help.rst
  doc/source/ide_integrations.rst
  doc/source/introduction.rst
  doc/source/kinds_of_contracts.rst
  doc/source/related_work.rst
Due: doctest, help in doc

Add python 3.13 support
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/_tracers_test.py
  crosshair/codeconfig.py
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
  crosshair/core.py
  crosshair/fnutil_test.py
  crosshair/fuzz_core_test.py
  crosshair/opcode_intercept.py
  crosshair/tracers.py
  crosshair/tracers_test.py
  crosshair/unicode_categories.py
  setup.py
Due: __init__ + setup.py

Eval-friendly repr refactor
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/codeconfig.py
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
  crosshair/core.py
  crosshair/opcode_intercept.py
  crosshair/tracers.py
  crosshair/util.py
  crosshair/util_test.py
Due: none

Remove unused 'extra' parameter
  crosshair/_tracers.c
  crosshair/opcode_intercept.py
  crosshair/tracers.py
  crosshair/tracers_test.py
Due: none

Add framework for trace disabling
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/opcode_intercept.py
Due: none

First pass at disabled trace points
  crosshair/_tracers.c
  crosshair/libimpl/builtinslib.py
  crosshair/opcode_intercept.py
  crosshair/tracers.py
Due: none

Add show-diff-on-failure to pre-commit on CI
  .github/workflows/check.yml
Due: none

isort
  crosshair/_tracers_test.py
Due: none

Speed up no-op post-op callbacks
  crosshair/_tracers.c
  crosshair/opcode_intercept.py
Due: none

Avoid super() in error generation contexts
  crosshair/util.py
Due: none

Consider node type change as nondeterminism
  crosshair/statespace.py
Due: none
