Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Clean up Python call handler table
  crosshair/tracers.py
  doc/source/contributing.rst
Due: doctest, help in doc

Move call stack decoding into C tracer
  crosshair/_tracers.c
  crosshair/tracers.py
Due: none

Move call target normalization into C tracer
  crosshair/_tracers.c
  crosshair/tracers.py
  crosshair/tracers_test.py
Due: none

perf: cache tracer opcode callback arguments
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/tracers_test.py
Due: none

test: skip pdb internals in type discovery
  crosshair/type_repo.py
  crosshair/type_repo_test.py
Due: none

Move call target normalization into C
  crosshair/_tracers.c
  crosshair/tracers.py
  crosshair/tracers_test.py
Due: none

ch tests: realize args on exception
  crosshair/test_util.py
  crosshair/test_util_test.py
  crosshair/type_repo.py
Due: none

Always complete CI matrix
  .github/workflows/check.yml
Due: none

self test - display errors
  crosshair/libimpl/binascii_ch_test.py
  crosshair/libimpl/collectionslib_ch_test.py
  crosshair/libimpl/datetimelib_ch_test.py
  crosshair/libimpl/decimallib_ch_test.py
  crosshair/libimpl/encodings_ch_test.py
  crosshair/libimpl/iolib_ch_test.py
  crosshair/libimpl/jsonlib_ch_test.py
  crosshair/libimpl/mathlib_ch_test.py
  crosshair/libimpl/relib_ch_test.py
  crosshair/libimpl/structlib_ch_test.py
Due: none

Allow realization of closed StringIOs
  crosshair/libimpl/iolib.py
Due: none

Prevent realization failure from masking test results
  crosshair/test_util.py
  crosshair/test_util_test.py
Due: none

Agents updates
  AGENTS.md
Due: none

Fix proxy_for_class crash on parameterized generics (Container[int])
  crosshair/core.py
Due: none

Substitute TypeVar bindings from parameterized generics into constructor sig
  crosshair/core.py
Due: none

Defensive try/except around get_type_hints for external classes
  crosshair/core.py
Due: none

Reposition fail-fast option
  .github/workflows/check.yml
Due: none

Address PR #416 review feedback
  crosshair/core.py
  crosshair/core_test.py
  crosshair/dynamic_typing.py
  doc/source/contributing.rst
Due: doctest, help in doc

Fix contributor entry format for Antonin Peronnet
  doc/source/contributing.rst
Due: doctest, help in doc

Use type: ignore over cast in proxy tests
  crosshair/core_test.py
Due: none

fix: correct mypy ignore codes in core_test.py
  crosshair/core_test.py
Due: none

Update hypothesis src dir
  .github/workflows/test_hypothesis.yml
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.105
  crosshair/__init__.py
  doc/source/changelog.rst
  setup.py
Due: doctest, __init__ + setup.py, help in doc

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
