Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Resolve ByteString deprecation warnings
  crosshair/libimpl/arraylib.py
  crosshair/libimpl/binasciilib.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/collectionslib.py
  crosshair/libimpl/encodings/_encutil.py
Due: none

Update contributing.rst
  doc/source/contributing.rst
Due: doctest, help in doc

Remove name-main block for pytest files
  crosshair/diff_behavior_test.py
  crosshair/enforce_test.py
  crosshair/fnutil_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib_test.py
Due: none

Migrate test cases from unittest to pytest
  crosshair/condition_parser_test.py
  crosshair/core_test.py
  crosshair/diff_behavior_test.py
  crosshair/enforce_test.py
  crosshair/fnutil_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib_test.py
  crosshair/objectproxy_test.py
Due: none

Add new line at end of file for pytest
  crosshair/diff_behavior_test.py
  crosshair/enforce_test.py
  crosshair/fnutil_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib_test.py
Due: none

allow os.chdir
  crosshair/auditwall.py
Due: none

pre-commit fixes
  crosshair/auditwall.py
Due: none

Update auditwall_test.py
  crosshair/auditwall_test.py
Due: none

Update auditwall.py
  crosshair/auditwall.py
Due: none

changelog for unittest-to-pytest
  doc/source/changelog.rst
Due: doctest, help in doc

Add TODO
  crosshair/opcode_intercept.py
Due: none

Avoid hypothesis error handling in our tests
  setup.cfg
Due: none

Un-nest pytest tests from classes
  crosshair/core_test.py
Due: none

Support untyped namedtuple generation
  crosshair/core.py
  crosshair/core_test.py
  crosshair/dynamic_typing.py
  crosshair/dynamic_typing_test.py
  crosshair/libimpl/collectionslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add py.typed marker
  crosshair/py.typed
  doc/source/changelog.rst
  setup.py
Due: doctest, __init__ + setup.py, help in doc

Prevent crosshair watch internal OverflowError
  crosshair/main.py
  crosshair/watcher.py
  doc/source/changelog.rst
Due: doctest, help in doc

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.84
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Reduce realization on bool identity comparisons
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Update contracts.rst (fix typos)
  doc/source/contracts.rst
Due: doctest, help in doc

Add early support for 3.14 (alpha 6)
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/_tracers_test.py
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
  crosshair/copyext.py
  crosshair/copyext_test.py
  crosshair/dynamic_typing.py
  crosshair/fnutil_test.py
  crosshair/libimpl/arraylib.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/collectionslib.py
  crosshair/libimpl/collectionslib_test.py
  crosshair/lsp_server.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  crosshair/tracers.py
  crosshair/type_repo.py
  crosshair/unicode_categories.py
  crosshair/util.py
  setup.cfg
Due: none

Resolve todo
  crosshair/condition_parser.py
Due: none

Update contributing.rst (add contributor - me!)
  doc/source/contributing.rst
Due: doctest, help in doc

Use finite times and intercept time.sleep
  crosshair/libimpl/timelib.py
  crosshair/libimpl/timelib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
