Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

handle collections.abc.ByteString deprecation
  crosshair/libimpl/builtinslib.py
Due: none

handle ast.Constant deprecation
  crosshair/condition_parser.py
Due: none

Make warnings error in subprocess test
  crosshair/main_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.57
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Allow nonfinite floats to be generated
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib.py
  crosshair/libimpl/timelib.py
  crosshair/statespace.py
Due: none

Add environment var fallback
  crosshair/libimpl/builtinslib.py
Due: none

Bump version to 0.0.58
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Remove excess changelog whitespace
  doc/source/changelog.rst
Due: doctest, help in doc

Avoid explosion during % string formatting
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/opcode_intercept.py
Due: none

add realization for various math functions
  crosshair/libimpl/mathlib.py
  crosshair/libimpl/mathlib_test.py
Due: none

conditionally patch math functions
  crosshair/libimpl/mathlib.py
Due: none

Bump version to 0.0.59
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Handle more unbound native calls on symbolic self
  crosshair/core.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Add version_info guards for new patches
  crosshair/libimpl/builtinslib.py
Due: none

Use update_wrapper on with_checked_self
  crosshair/core.py
Due: none

Support int() constructor with `base=` kwarg
  crosshair/libimpl/builtinslib.py
Due: none

Support nonfinite <=> symbolic operators
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
Due: none

Bump version to 0.0.60
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Make symbolic bytes hashable
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
Due: none

Avoid crash hashlib'ing symbolic bytes
  crosshair/core_and_libs.py
  crosshair/libimpl/hashliblib.py
  crosshair/libimpl/hashliblib_test.py
Due: none

Fix offset/limit args in regex.match()
  crosshair/libimpl/relib.py
  crosshair/libimpl/relib_ch_test.py
  crosshair/libimpl/relib_test.py
Due: none

Tweak some debug statements
  crosshair/copyext.py
  crosshair/core.py
Due: none

Make register_patch deterministic
  crosshair/libimpl/hashliblib.py
Due: none

Support identity-only comparables in _ch_ tests
  crosshair/test_util.py
Due: none
