Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Match 3.15 re.match (prefixmatch) and copy.deepcopy signature
  crosshair/libimpl/copylib.py
  crosshair/libimpl/relib.py
Due: none

Expand 3.15 changelog entry for stdlib patch fixes
  doc/source/changelog.rst
Due: doctest, help in doc

Precompute Unicode 17.0.0 category ranges for Python 3.15
  crosshair/unicode_categories.py
  doc/source/changelog.rst
Due: doctest, help in doc

Match CPython 3.15 struct.pack_into argument checks
  crosshair/libimpl/structlib.py
  crosshair/libimpl/structlib_test.py
Due: none

Tighten 3.15 changelog entry to user-visible changes
  doc/source/changelog.rst
Due: doctest, help in doc

Drop the typing_extensions import guard
  crosshair/condition_parser.py
Due: none

Fix three soundness bugs surfaced by the differential fuzzer
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
Due: none

Address review: modeling-aware float quotient; faster index test
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/opcode_intercept_test.py
Due: none

avoid devcontainer warning
  .devcontainer/devcontainer.json
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

type annotations and minor edits
  crosshair/_tracers.c
  crosshair/fuzz_core_test.py
  crosshair/inputgen.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/patch_equivalence_test.py
  crosshair/test_util.py
  crosshair/tools/fetch_corpus.py
  crosshair/tools/generate_treemap.py
  crosshair/tools/measure_support.py
  crosshair/tools/mine_usage.py
Due: none

amt_for_unification fix
  crosshair/libimpl/builtinslib.py
Due: none

add known failure for bytearray.resize in 3.14
  crosshair/fuzz_core_test.py
Due: none

Extract behavior capture/compare out of test_util into behavior_compare
  crosshair/behavior_compare.py
  crosshair/behavior_compare_test.py
  crosshair/diff_behavior.py
  crosshair/fuzz_core_test.py
  crosshair/libimpl/binascii_ch_test.py
  crosshair/libimpl/binascii_test.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/collectionslib_ch_test.py
  crosshair/libimpl/datetimelib_ch_test.py
  crosshair/libimpl/decimallib_ch_test.py
  crosshair/libimpl/encodings_ch_test.py
  crosshair/libimpl/iolib_ch_test.py
  crosshair/libimpl/jsonlib_ch_test.py
  crosshair/libimpl/mathlib_ch_test.py
  crosshair/libimpl/relib_ch_test.py
  crosshair/libimpl/structlib_ch_test.py
  crosshair/patch_equivalence_test.py
  crosshair/simplestructs_test.py
  crosshair/test_util.py
  crosshair/tools/measure_support.py
Due: none

trim comment
  crosshair/abcstring.py
Due: none

do not install pre-commit hooks
  .devcontainer/post-create.sh
Due: none

get docker on more recent glibc
  .devcontainer/Dockerfile
Due: none

Undo README - we aren't ready yet
  README.md
  doc/source/index.rst
  doc/source/support_matrix.rst
Due: doctest, help in doc

Fix three soundness bugs surfaced by the differential fuzzer (#440)
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
Due: none

Support the base64 module's 3.15 binascii keyword arguments
  crosshair/libimpl/base64_ch_test.py
  crosshair/libimpl/binasciilib.py
  doc/source/changelog.rst
Due: doctest, help in doc

Measured stdlib support map + symbolic/concrete differential tests (#434)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  AGENTS.md
  crosshair/_tracers.c
  crosshair/abcstring.py
  crosshair/behavior_compare.py
  crosshair/behavior_compare_test.py
  crosshair/conftest.py
  crosshair/diff_behavior.py
  crosshair/fuzz_core_test.py
  crosshair/inputgen.py
  crosshair/libimpl/binascii_ch_test.py
  crosshair/libimpl/binascii_test.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/collectionslib_ch_test.py
  crosshair/libimpl/datetimelib_ch_test.py
  crosshair/libimpl/decimallib_ch_test.py
  crosshair/libimpl/encodings_ch_test.py
  crosshair/libimpl/iolib_ch_test.py
  crosshair/libimpl/jsonlib_ch_test.py
  crosshair/libimpl/mathlib_ch_test.py
  crosshair/libimpl/relib_ch_test.py
  crosshair/libimpl/structlib_ch_test.py
  crosshair/patch_equivalence_test.py
  crosshair/simplestructs_test.py
  crosshair/test_util.py
  crosshair/tools/fetch_corpus.py
  crosshair/tools/generate_demo_table.py
  crosshair/tools/generate_treemap.py
  crosshair/tools/measure_support.py
  crosshair/tools/mine_usage.py
  doc/source/changelog.rst
  doc/source/support_treemap.svg
  doc/source/usage_prior.json
  pyproject.toml
Due: doctest, help in doc

Classify two new-in-3.15 builtins in the differential suite
  crosshair/behavior_compare.py
  crosshair/fuzz_core_test.py
Due: none

devcontainer: install libmpdec-dev for the C _decimal extension
  .devcontainer/Dockerfile
Due: none

Support 3.15's new binascii.b2a_base64 keyword arguments
  crosshair/libimpl/binascii_test.py
  crosshair/libimpl/binasciilib.py
  doc/source/changelog.rst
Due: doctest, help in doc

devcontainer: add the GitHub CLI feature
  .devcontainer/devcontainer.json
Due: none

Don't model decimal when the pure-Python _pydecimal is active
  crosshair/libimpl/decimallib.py
  crosshair/libimpl/decimallib_ch_test.py
  crosshair/libimpl/decimallib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump dev tooling (black 26, isort 8, mypy 2, pytest 9); drop 3.8/3.9 from testing
  .github/workflows/build_wheels.yml
  .github/workflows/test_crosshair.yml
  .pre-commit-config.yaml
  crosshair/auditwall.py
  crosshair/codeconfig_test.py
  crosshair/condition_parser.py
  crosshair/core.py
  crosshair/core_test.py
  crosshair/diff_behavior.py
  crosshair/dynamic_typing.py
  crosshair/examples/PEP316/correct_code/arith.py
  crosshair/examples/check_examples_test.py
  crosshair/examples/icontract/correct_code/arith.py
  crosshair/fnutil.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/codecslib.py
  crosshair/libimpl/decimallib.py
  crosshair/libimpl/importliblib_test.py
  crosshair/libimpl/relib.py
  crosshair/main.py
  crosshair/main_test.py
  crosshair/path_cover_test.py
  crosshair/pathing_oracle.py
  crosshair/simplestructs.py
  crosshair/statespace.py
  crosshair/tools/check_help_in_doc.py
  crosshair/tracers.py
  crosshair/unicode_categories.py
  crosshair/util.py
  crosshair/util_test.py
  crosshair/watcher.py
  crosshair/watcher_test.py
  crosshair/z3util.py
  pyproject.toml
Due: help in doc

treemap: fix legend/grey collision in the weighted support map
  crosshair/tools/generate_treemap.py
Due: none

support map: stop false "black" (soundness-bug) cells for ops CrossHair can't model
  crosshair/behavior_compare.py
  crosshair/tools/measure_support.py
Due: none

support map: measure methods of stdlib-defined classes
  crosshair/inputgen.py
  crosshair/tools/measure_support.py
Due: none

support map: render a "standard library methods" tier
  crosshair/tools/generate_treemap.py
Due: none

support map: mine usage for stdlib class methods
  crosshair/tools/mine_usage.py
Due: none

core: TODO to revisit ExceptionFilter swallowing NotImplementedError
  crosshair/core.py
Due: none

Raise CrosshairUnsupported for unimplemented symbolic-proxy operations
  crosshair/libimpl/builtinslib.py
  crosshair/objectproxy.py
  crosshair/simplestructs.py
Due: none
