Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Remove unused fixture
  crosshair/libimpl/collectionslib_test.py
Due: none

Make minor test reliability changes, comments
  crosshair/_tracers_test.py
  crosshair/libimpl/timelib_test.py
  crosshair/test_util.py
  crosshair/util.py
Due: none

Add some initial weakref support
  crosshair/core.py
  crosshair/core_and_libs.py
  crosshair/libimpl/functoolslib.py
  crosshair/libimpl/weakreflib.py
  crosshair/libimpl/weakreflib_test.py
  crosshair/opcode_intercept.py
  crosshair/statespace.py
  crosshair/tracers.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Remove incorrect tarcing entry in test
  crosshair/copyext_test.py
Due: none

Enhance and refactor NotDeterministic diagnostics
  crosshair/core.py
  crosshair/main.py
  crosshair/statespace.py
  crosshair/test_util.py
  crosshair/util.py
Due: help in doc

Prevent NotDeterministic from aborting process
  crosshair/core.py
  crosshair/core_test.py
  crosshair/main_test.py
Due: none

Bump version to 0.0.74
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Remove trailing whitespace
  doc/source/changelog.rst
Due: doctest, help in doc

Avoid crash generating the empty tuple
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add support for symbolic [Items|Keys|Values]View
  crosshair/libimpl/collectionslib.py
Due: none

Ensure SimpleDict's .items() returns an ItemsView
  crosshair/simplestructs.py
Due: none

Narrow our type annotation on _SIMPLE_PROXIES
  crosshair/core.py
Due: none

Leave TODO
  crosshair/util.py
Due: none

Fix regex symbolic object generation
  crosshair/libimpl/builtinslib.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add some generic testing for all registered types
  crosshair/core_regestered_types_test.py
Due: none

Cut changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Use less fragile mypy target test file
  crosshair/main.py
  crosshair/main_test.py
Due: help in doc

Upgrade mypy target version
  crosshair/_tracers_test.py
  crosshair/core_regestered_types_test.py
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/mathlib.py
  crosshair/smtlib_test.py
  crosshair/tracers.py
  crosshair/util.py
  crosshair/z3util.py
  setup.cfg
Due: none

Add symbolic support for math.copysign
  crosshair/libimpl/mathlib.py
  crosshair/libimpl/mathlib_ch_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.75
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix symbolic math.copysign
  crosshair/libimpl/mathlib.py
  crosshair/libimpl/mathlib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.76
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Push symbolic indexing bounds check forward
  crosshair/opcode_intercept.py
Due: none
