Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Improve int() constructor error conditions
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Improve symbolic support for Fraction
  crosshair/core.py
  crosshair/core_and_libs.py
  crosshair/libimpl/fractionlib.py
  crosshair/libimpl/fractionlib_test.py
  crosshair/libimpl/mathlib.py
  crosshair/statespace.py
Due: none

Remove support for 3.7
  crosshair/auditwall.py
  crosshair/auditwall_test.py
  crosshair/condition_parser_test.py
  crosshair/core_test.py
  crosshair/register_contract_test.py
  crosshair/statespace.py
  crosshair/stubs_parser.py
  crosshair/util_test.py
  doc/source/cover.rst
  doc/source/diff_behavior.rst
  doc/source/get_started.rst
  doc/source/limitations.rst
  setup.py
Due: doctest, __init__ + setup.py, help in doc

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Tolerate missing hypothesis db
  crosshair/condition_parser.py
Due: none

Fix boolean ops over some symbolic frozensets
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/simplestructs.py
  doc/source/changelog.rst
Due: doctest, help in doc

Push symbolic indexing bounds check forward
  crosshair/opcode_intercept.py
Due: none

Bump version to 0.0.77
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

directly import monotonic
  crosshair/core.py
  crosshair/util.py
Due: none

isort
  crosshair/core.py
  crosshair/util.py
Due: none

Use constant for sys.monitoring tool id
  crosshair/tracers.py
Due: none

Skip useless string processing on StringIO writes
  crosshair/libimpl/iolib.py
Due: none

Add TODO for Decimal snan
  crosshair/libimpl/decimallib.py
Due: none

Make minor quality-of-life statespace changes
  crosshair/statespace.py
Due: none

Fix error w/ precise float as 2nd arg to copysign
  crosshair/libimpl/mathlib.py
  crosshair/libimpl/mathlib_test.py
Due: none

Add identity check to SimpleDict lookups
  crosshair/simplestructs.py
Due: none

Avoid confusing (under CrossHair) pytest features
  setup.cfg
Due: none

Remove stack suppression logic
  crosshair/statespace.py
  crosshair/util.py
Due: none

Remove support for checking hypothesis tests
  README.md
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
  crosshair/core_test.py
  crosshair/examples/hypothesis/__init__.py
  crosshair/examples/hypothesis/bugs_detected/__init__.py
  crosshair/examples/hypothesis/bugs_detected/simple_strategies.out
  crosshair/examples/hypothesis/bugs_detected/simple_strategies.py
  crosshair/main.py
  crosshair/options.py
  doc/source/contracts.rst
  doc/source/kinds_of_contracts.rst
  setup.py
Due: doctest, __init__ + setup.py, help in doc

Finalize 3.13 support
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/opcode_intercept_test.py
  crosshair/util_test.py
  setup.py
Due: __init__ + setup.py

Test and build 3.13 in ci
  .github/workflows/buildwheels.yml
  .github/workflows/check.yml
Due: none

Selectively enable test_new_style_type_hints test
  crosshair/core_test.py
Due: none

Bump cibuildwheel version
  .github/workflows/buildwheels.yml
Due: none

Skip 3.13 buildwheel test on win32
  .github/workflows/buildwheels.yml
Due: none

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
