Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Fix bug in diffbehavior NaN equivalence (& test)
  crosshair/diff_behavior.py
  crosshair/diff_behavior_test.py
Due: none

Bump version to 0.0.80
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Build mac wheels only on apple silicon runner
  .github/workflows/buildwheels.yml
Due: none

Move to trusted publishing
  .github/workflows/buildwheels.yml
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.81
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Disable stack nondeterminism checks
  crosshair/statespace.py
Due: none

Preserve symbolics in more math.copysign use cases
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/mathlib.py
  crosshair/libimpl/mathlib_ch_test.py
  crosshair/libimpl/mathlib_test.py
Due: none

Update tests for nondeterminism changes
  crosshair/core_test.py
  crosshair/main_test.py
Due: none

Bump version to 0.0.82
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add some caveats for test generation
  doc/source/cover.rst
  doc/source/hints_for_your_classes.rst
Due: doctest, help in doc

allow os.chdir
  crosshair/auditwall.py
Due: none

Update auditwall_test.py
  crosshair/auditwall_test.py
Due: none

Move chat to discord
  README.md
  doc/source/contributing.rst
  doc/source/how_can_i_help.rst
Due: doctest, help in doc

Migrate test cases from unittest to pytest
  crosshair/condition_parser_test.py
  crosshair/core_test.py
  crosshair/diff_behavior_test.py
  crosshair/enforce_test.py
  crosshair/fnutil_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib_test.py
  crosshair/objectproxy_test.py
Due: none

MOTD tweaks
  crosshair/main.py
Due: help in doc

Loosen timeout test bounds for slow runners
  crosshair/statespace_test.py
Due: none

Enable some passing tests on 3.13
  crosshair/patch_equivalence_test.py
Due: none

Fix FPRef.is_int attr error w/ mixed float/int pow
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.83
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix issue link typo
  doc/source/changelog.rst
Due: doctest, help in doc

Resolve re.subn deprecation warnings
  crosshair/libimpl/relib_ch_test.py
Due: none

Remove name-main block for pytest files
  crosshair/diff_behavior_test.py
  crosshair/enforce_test.py
  crosshair/fnutil_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib_test.py
Due: none

Add new line at end of file for pytest
  crosshair/diff_behavior_test.py
  crosshair/enforce_test.py
  crosshair/fnutil_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib_test.py
Due: none

Update auditwall.py
  crosshair/auditwall.py
Due: none

pre-commit fixes
  crosshair/auditwall.py
Due: none

Resolve ByteString deprecation warnings
  crosshair/libimpl/arraylib.py
  crosshair/libimpl/binasciilib.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/collectionslib.py
  crosshair/libimpl/encodings/_encutil.py
Due: none

Fix status badge
  README.md
Due: doctest
