Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Add pyproject.toml for packaging metadata and dependencies.
  pyproject.toml
Due: none

Read package version from importlib.metadata.
  crosshair/__init__.py
  doc/source/conf.py
Due: __init__ + setup.py

Remove setup.py and use pyproject.toml as the sole build config.
  README.md
  setup.py
Due: doctest, __init__ + setup.py

Update tooling for pyproject.toml-based packaging.
  .github/workflows/check.yml
  .github/workflows/pyodide.yml
  .pre-commit-config.yaml
  crosshair/tools/check_init_and_setup_coincide.py
Due: none

Consolidate tool configuration into pyproject.toml.
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

Fix pre-commit after consolidating flake8 config into pyproject.toml.
  .pre-commit-config.yaml
  doc/source/conf.py
Due: none

Fix Sphinx doc build after pyproject.toml author metadata change.
  doc/source/conf.py
Due: none

Keep date/datetime/time/timedelta comparisons symbolic
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add docs to repo overview
  AGENTS.md
Due: none

Use time.process_time for timeouts
  crosshair/core.py
  crosshair/diff_behavior.py
  crosshair/fuzz_core_test.py
  crosshair/main.py
  crosshair/statespace.py
  crosshair/statespace_test.py
  doc/source/changelog.rst
  doc/source/contracts.rst
  doc/source/cover.rst
  doc/source/diff_behavior.rst
Due: doctest, help in doc

Remove stale comment
  crosshair/libimpl/functoolslib.py
Due: none

Remove unused method
  crosshair/statespace.py
Due: none

Remove stale comment
  crosshair/simplestructs.py
Due: none

Clarify CI job names
  .github/workflows/build_documentation.yml
  .github/workflows/build_pyodide.yml
  .github/workflows/build_wheels.yml
  .github/workflows/test_crosshair.yml
  .github/workflows/test_hypothesis_integration.yml
Due: none

Bump version to 0.0.106
  doc/source/changelog.rst
  pyproject.toml
Due: doctest, help in doc

Keep bitwise &/|/^ on symbolic booleans symbolic
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Keep date leap-year detection symbolic
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Enable the leap-year date-arithmetic test
  crosshair/libimpl/datetimelib_test.py
Due: none

Fix misleading comment in _days_in_month
  crosshair/libimpl/datetimelib.py
Due: none

Pin test_leap_year start date to keep CI reliable
  crosshair/libimpl/datetimelib_test.py
Due: none

Expand AGENTS.md
  AGENTS.md
Due: none

Add devcontainer support
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/bin/switch-python
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/install-crosshair.sh
  .devcontainer/post-create.sh
  .devcontainer/switch-python.sh
  .gitignore
  AGENTS.md
Due: doctest
