Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

move docstring
  crosshair/patch_equivalence_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

translate protections
  crosshair/libimpl/builtinslib_ch_test.py
Due: none

Focused/speed-up many of the builtinslib tests.
  AGENTS.md
  crosshair/libimpl/builtinslib_test.py
Due: none

add tracing asserts
  crosshair/libimpl/relib.py
Due: none

Add symbolic handling for re.split
  crosshair/libimpl/relib.py
  crosshair/libimpl/relib_ch_test.py
  crosshair/libimpl/relib_test.py
Due: none

Add symbolic support for str.split without separator Fixes #223
  AGENTS.md
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/statespace.py
Due: none

Allow whitespace in directives
  crosshair/codeconfig.py
  crosshair/codeconfig_test.py
Due: none

update agents.md
  AGENTS.md
Due: none

clarify unicode char predicate SMT function names
  crosshair/unicode_categories.py
Due: none

agents update
  AGENTS.md
Due: none

Wrap up strictlib
  AGENTS.md
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/structlib.py
  crosshair/libimpl/structlib_test.py
  crosshair/util.py
Due: none

pin pytest versions
  setup.py
Due: __init__ + setup.py

Minimal symbolic support for the struct standard library
  AGENTS.md
  crosshair/core_and_libs.py
  crosshair/libimpl/structlib.py
  crosshair/libimpl/structlib_ch_test.py
  crosshair/libimpl/structlib_test.py
Due: none

Make minor statespace logging tweaks
  crosshair/statespace.py
Due: none

Don't let argparse clobber underlying `unblock` defaults
  crosshair/main.py
Due: help in doc

Dump options in verbose mode
  crosshair/condition_parser.py
  crosshair/main.py
  crosshair/options.py
Due: help in doc

Test tweak
  AGENTS.md
  crosshair/libimpl/structlib_test.py
Due: none

update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Move space fetch inside NoTrace
  crosshair/core.py
Due: none

Bump version to 0.0.103
  crosshair/__init__.py
  doc/source/changelog.rst
  setup.py
Due: doctest, __init__ + setup.py, help in doc

fix up changlog
  doc/source/changelog.rst
Due: doctest, help in doc

Don't buffer pytest results inside pre-commit
  .github/workflows/check.yml
Due: none

Document regex logic
  crosshair/libimpl/relib.py
Due: none

Remove problematic assert_tracing
  crosshair/libimpl/relib.py
Due: none
