Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

parallelize tests & simplify timeouts
  crosshair/libimpl/relib_test.py
Due: none

parallelize tests & simplify timeouts
  .pre-commit-config.yaml
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/codecslib_test.py
  crosshair/libimpl/datetimelib_test.py
Due: none

Optimize string containment checks
  crosshair/libimpl/builtinslib.py
  crosshair/simplestructs.py
Due: none

Limit pydantic version for tests
  setup.py
Due: __init__ + setup.py

Defer LSP server imports
  crosshair/main.py
Due: help in doc

Build wheels only on pushes to main
  .github/workflows/buildwheels.yml
Due: none

Add decision oracle concept
  crosshair/core.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/pathing_oracle.py
  crosshair/statespace.py
  crosshair/util.py
  crosshair/util_test.py
  crosshair/z3util.py
Due: none

Fix StringIO newline roundtrip issues
  crosshair/libimpl/iolib.py
  crosshair/libimpl/iolib_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Add demo example for string containment
  crosshair/libimpl/builtinslib_test.py
Due: none

Bump version to 0.0.39
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add link to performance bug
  doc/source/changelog.rst
Due: doctest, help in doc

Include traceback for import errors
  crosshair/watcher.py
Due: none

Ignore KeyboardInterrupt as user code exception
  crosshair/condition_parser.py
  crosshair/core.py
  crosshair/core_test.py
  crosshair/enforce.py
  crosshair/fuzz_core_test.py
  crosshair/test_util.py
  crosshair/type_repo.py
Due: none

Generalize test expectation
  crosshair/path_search_test.py
Due: none

Bias for infrequently visited code locations
  crosshair/pathing_oracle.py
Due: none

make various mypy fixes
  crosshair/core.py
  crosshair/path_cover.py
  crosshair/path_search.py
Due: none

Update to mypy 0.990
  .pre-commit-config.yaml
  crosshair/condition_parser.py
  crosshair/core_test.py
  crosshair/examples/PEP316/bugs_detected/shopping_cart.py
  crosshair/options.py
  crosshair/test_util.py
  setup.py
Due: __init__ + setup.py

Temporary test disable for timezone 3.11 issues
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

Add the --argument_formatter option
  crosshair/main.py
  crosshair/path_search.py
  crosshair/path_search_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Avoid assignment to lambda
  crosshair/main.py
  crosshair/path_search.py
Due: help in doc

Do not publish docs from PRs
  .github/workflows/build_documentation.yml
Due: none

Update changelog for 0.0.40
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.40
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix a few documentation issues
  doc/source/changelog.rst
  doc/source/ide_integrations.rst
Due: doctest, help in doc

Add --output_all_examples option
  crosshair/main.py
  crosshair/path_search.py
  crosshair/path_search_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Fix return type on test helper
  crosshair/path_search_test.py
Due: none

Bump version to 0.0.41
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
