Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Fix memoryview construction from symbolic bytes
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Support symbolic booleans in is_possible
  crosshair/statespace.py
Due: none

Prevent destructuive heapq modifications
  crosshair/libimpl/heapqlib.py
  crosshair/util.py
  crosshair/util_test.py
Due: none

Simplify set override
  crosshair/libimpl/builtinslib.py
  crosshair/simplestructs.py
Due: none

Pass a memo dict to __ch_deep_realize__
  crosshair/copyext.py
  crosshair/core.py
  crosshair/libimpl/decimallib.py
  crosshair/libimpl/encodings/_encutil.py
  crosshair/libimpl/relib.py
Due: none

Fix int.from_bytes error w/ unsized iterable
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.66
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Remove unused imports
  crosshair/libimpl/heapqlib_test.py
Due: none

Remove specialized deep equality checking
  crosshair/core.py
  crosshair/enforce.py
  crosshair/enforce_test.py
  crosshair/tools/check_init_and_setup_coincide.py
Due: none

Avoid z3 parse error comparing to nonfinite floats
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Updates for 3.13.0, current HEAD
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/codecslib_test.py
  crosshair/patch_equivalence_test.py
  crosshair/pure_importer_test.py
  setup.py
Due: __init__ + setup.py

Prevent oversharing in some set operations
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/simplestructs.py
Due: none

Disable heapq test
  crosshair/libimpl/heapqlib_test.py
Due: none

Remove debugging leftovers
  crosshair/simplestructs.py
Due: none

Bump version to 0.0.67
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Make debug output redirectable
  crosshair/util.py
Due: none

Add symbolic frozenset support
  crosshair/copyext.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/objectproxy.py
  crosshair/simplestructs.py
  crosshair/simplestructs_test.py
  crosshair/statespace.py
  crosshair/test_util.py
  crosshair/util.py
  doc/source/changelog.rst
Due: doctest, help in doc

Intercept concrete list indexed by symbolic index.
  crosshair/libimpl/datetimelib_test.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add pathing oracle todo
  crosshair/pathing_oracle.py
Due: none

Dump mini-stack to debug log on SMT choices
  crosshair/statespace.py
  crosshair/util.py
  crosshair/util_test.py
Due: none

Rename test_stack helper
  crosshair/copyext.py
  crosshair/core.py
  crosshair/libimpl/builtinslib.py
  crosshair/opcode_intercept.py
  crosshair/patch_equivalence_test.py
  crosshair/path_cover.py
  crosshair/path_search.py
  crosshair/simplestructs.py
  crosshair/statespace.py
  crosshair/test_util.py
  crosshair/util.py
Due: none

Make timeout test a little more flexible
  crosshair/statespace_test.py
Due: none

Tweak date delta tests
  crosshair/libimpl/datetimelib_test.py
Due: none

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
