Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.48
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix typos in command line docs
  crosshair/main.py
Due: help in doc

Fix StringIO position after overwrite.
  crosshair/libimpl/iolib.py
  crosshair/libimpl/iolib_ch_test.py
Due: none

Cap nondeterminism check to statespace context
  crosshair/statespace.py
Due: none

Fix #242 - handle AlgebraicNumRef
  crosshair/statespace.py
  crosshair/statespace_test.py
Due: none

Add max_uninteresting_iterations to diffbehavior
  crosshair/diff_behavior.py
  crosshair/main.py
  doc/source/contracts.rst
  doc/source/cover.rst
  doc/source/diff_behavior.rst
Due: doctest, help in doc

Add default max_uninteresting_iterations to cover
  crosshair/main.py
Due: help in doc

Correct & clarify --per_path_timeout documentation
  crosshair/main.py
  crosshair/options.py
  doc/source/contracts.rst
  doc/source/cover.rst
  doc/source/diff_behavior.rst
Due: doctest, help in doc

Bump version to 0.0.49
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

intercept set creation
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/simplestructs.py
  crosshair/simplestructs_test.py
  crosshair/tracers.py
Due: none

Add test instructions; optimize pytest defaults
  .pre-commit-config.yaml
  doc/source/contributing.rst
Due: doctest, help in doc

Wrap dict() with symbolic-awareness
  crosshair/libimpl/builtinslib.py
  crosshair/patch_equivalence_test.py
  crosshair/simplestructs.py
Due: none

Update changelog
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.50
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Remove unintended debug statements
  crosshair/libimpl/builtinslib.py
Due: none

Reduce complexity of rendering internal errors
  crosshair/util.py
Due: none

Demote contract registrations to warnings
  crosshair/condition_parser.py
  crosshair/register_contract.py
  crosshair/register_contract_test.py
  crosshair/util.py
Due: none

Give extra runtime for intermittent failure
  crosshair/libimpl/builtinslib_test.py
Due: none

Realize set contents when realizing set
  crosshair/simplestructs.py
Due: none

Avoid some memory leaks in test suite
  crosshair/_tracers_test.py
  crosshair/conftest.py
  crosshair/fuzz_core_test.py
  crosshair/statespace.py
  crosshair/util.py
Due: none

Rename z3Assert function
  crosshair/statespace.py
  crosshair/z3util.py
Due: none

Add debugging information during deepcopyext
  crosshair/copyext.py
Due: none

Complete symbolic set implementation
  crosshair/fuzz_core_test.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/simplestructs.py
Due: none

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
