Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Bump version to 0.0.101
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Remove unused imports
  crosshair/pathing_oracle.py
Due: none

Branch more during container size realization
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/datetimelib_ch_test.py
  crosshair/statespace.py
Due: none

Run hypothesis tests under 3.13
  .github/workflows/test_hypothesis.yml
Due: none

Add Annotated metadata contracts support
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
  setup.py
Due: __init__ + setup.py

Fix mypy/formatting for Annotated parser
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
Due: none

Harden Annotated metadata tests
  crosshair/condition_parser_test.py
Due: none

Handle GroupedMetadata in Annotated
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
Due: none

Handle Unpack from typing_extensions
  crosshair/condition_parser.py
Due: none

Use typing_extensions get_args for Unpack
  crosshair/condition_parser.py
Due: none

Detect typing_extensions Unpack metadata
  crosshair/condition_parser.py
Due: none

Ensure weakrefs don't get prematurely collected
  crosshair/libimpl/gzip_test.py
  crosshair/libimpl/inspectliblib_test.py
  crosshair/libimpl/weakreflib.py
  crosshair/libimpl/weakreflib_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Add pytest timeout to help debug CI hangs
  setup.cfg
Due: none

Fix str.translate crash on concrete mapping table
  crosshair/abcstring.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.102
  crosshair/__init__.py
  doc/source/changelog.rst
  setup.py
Due: doctest, __init__ + setup.py, help in doc

perf: add fast paths for callable resolution in tracer
  crosshair/tracers.py
  crosshair/tracers_test.py
Due: none

Optimize trace callback performance (Issue #115)
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/tracers.py
  crosshair/tracers_performance_benchmark.py
  crosshair/tracers_performance_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add performance optimization documentation
  PERFORMANCE_OPTIMIZATIONS.md
Due: none

Update performance tests to use pytest style
  crosshair/tracers_performance_test.py
Due: none

Optimize tracing with C-extension
  crosshair/tracers.py
Due: none

fix: resolve issue #282
  crosshair/tracers.py
Due: none

Dump options in verbose mode
  crosshair/condition_parser.py
  crosshair/main.py
  crosshair/options.py
Due: help in doc

Make minor statespace logging tweaks
  crosshair/statespace.py
Due: none

Minimal symbolic support for the struct standard library
  AGENTS.md
  crosshair/core_and_libs.py
  crosshair/libimpl/structlib.py
  crosshair/libimpl/structlib_ch_test.py
  crosshair/libimpl/structlib_test.py
Due: none

Don't let argparse clobber underlying `unblock` defaults
  crosshair/main.py
Due: help in doc

Move space fetch inside NoTrace
  crosshair/core.py
Due: none

agents update
  AGENTS.md
Due: none

Wrap up strictlib
  AGENTS.md
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/structlib.py
  crosshair/libimpl/structlib_test.py
  crosshair/util.py
Due: none

Test tweak
  AGENTS.md
  crosshair/libimpl/structlib_test.py
Due: none

update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

pin pytest versions
  setup.py
Due: __init__ + setup.py
