Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Bump version to 0.0.87
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add assert debug detail
  crosshair/main_test.py
Due: none

Fix FormatStashingValue missing attribute error
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/opcode_intercept_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Ensure -0.0 is falsey
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Fix argument error when copying concrete date
  crosshair/libimpl/copylib_test.py
  crosshair/libimpl/datetimelib.py
Due: none

Add docs on creating LLM resources
  doc/contributing_to_docs.md
Due: none

Bump version to 0.0.88
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add typerepo exception for numpy
  crosshair/type_repo.py
Due: none

Improve the path tree growth logic
  crosshair/pathing_oracle.py
  crosshair/statespace.py
Due: none

Add note about typeguards
  crosshair/util.py
Due: none

Undo diff_behavior set ordering sensitivity
  crosshair/test_util.py
  crosshair/test_util_test.py
Due: none

Bump version to 0.0.89
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

build issues stab in the dark
  .github/workflows/buildwheels.yml
Due: none

Bump version to 0.0.90
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Upgrade cibuildwheel version
  .github/workflows/buildwheels.yml
Due: none

Bump version to 0.0.91
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

DIsable attestations for now
  .github/workflows/buildwheels.yml
Due: none

Bump version to 0.0.92
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Undo forced attestations
  .github/workflows/buildwheels.yml
Due: none

temp force run upload
  .github/workflows/buildwheels.yml
Due: none

Disable attestations for now
  .github/workflows/buildwheels.yml
Due: none

Update changelog
  .github/workflows/buildwheels.yml
  doc/source/changelog.rst
Due: doctest, help in doc

Run `with_realized_args` function under tracing
  crosshair/core.py
  crosshair/libimpl/fractionlib_test.py
Due: none

Run real `int()` under tracing
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/fractionlib_test.py
Due: none

Fix false-positive on `map(fn,it1,it2,...)` calls
  crosshair/libimpl/builtinslib.py
  crosshair/patch_equivalence_test.py
Due: none

Pin z3 version for CI
  setup.py
Due: __init__ + setup.py
