Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Report demo-override usage; fix stale red/black docstrings
  crosshair/tools/demo_overrides.py
  crosshair/tools/measure_support.py
Due: none

Fix str.format patch colliding with a "self" format field
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

tools: document the support-map regeneration pipeline
  crosshair/tools/generate_treemap.py
Due: none

Use the space fixture in the sort-mismatch regression test
  crosshair/libimpl/builtinslib_test.py
Due: none

inputgen: pass Literal annotations through instead of widening to the base type
  crosshair/inputgen.py
Due: none

behavior_compare: infer container proxy element type as a union over all elements
  crosshair/behavior_compare.py
Due: none

Curated demo links for the support treemap, harvested from @pytest.mark.demo
  crosshair/tools/demo_overrides.py
  crosshair/tools/demo_overrides_test.py
  crosshair/tools/measure_support.py
Due: none

Update AGENTS.ms; add CLAUDE.md :(
  AGENTS.md
  CLAUDE.md
Due: none

inputgen: unify the object-like type vocabulary behind one GENERIC constant
  crosshair/inputgen.py
Due: none

Fix Z3 sort mismatch comparing symbolic sequences of different element sorts
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Remove float from generic testing until we can speed it up.
  crosshair/inputgen.py
Due: none

Optionally measure only ops with meaningful usage
  crosshair/tools/measure_support.py
Due: none

Add TODO
  crosshair/_tracers.c
Due: none

Unify the operation catalog; source treemap + usage mining from it
  crosshair/behavior_compare.py
  crosshair/inputgen.py
  crosshair/inputgen_test.py
  crosshair/tools/generate_treemap.py
  crosshair/tools/measure_support.py
  crosshair/tools/mine_usage.py
Due: none

Regenerate usage prior and support treemap for the unified catalog
  doc/source/support_treemap.svg
  doc/source/usage_prior.json
Due: none

Change support map svg defaults
  crosshair/tools/generate_treemap.py
  doc/source/support_treemap.svg
Due: none

Check in measured.json as the treemap's render-input snapshot
  .gitattributes
  crosshair/tools/generate_treemap.py
  doc/source/measured.json
Due: none

Unify the operation catalog; refresh support treemap + usage prior (#480)
  .gitattributes
  crosshair/_tracers.c
  crosshair/behavior_compare.py
  crosshair/inputgen.py
  crosshair/inputgen_test.py
  crosshair/tools/generate_treemap.py
  crosshair/tools/measure_support.py
  crosshair/tools/mine_usage.py
  doc/source/measured.json
  doc/source/support_treemap.svg
  doc/source/usage_prior.json
Due: none

Drop some low-value pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix status badge link
  .github/workflows/test_crosshair.yml
  README.md
Due: doctest

Fix str.rjust stalling the solver on the already-wide case
  crosshair/libimpl/builtinslib.py
  doc/source/changelog.rst
Due: doctest, help in doc

Add int-vs-float regression tests for reflected order and NaN
  crosshair/libimpl/builtinslib_test.py
Due: none

Skip unreachable index signs in symbolic subscripts of concrete sequences
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Explain the concrete-int constraint in the int-vs-NaN test
  crosshair/libimpl/builtinslib_test.py
Due: none

Support stat/os int helpers on symbolic ints via arg realization
  crosshair/core_and_libs.py
  crosshair/libimpl/oslib.py
  crosshair/libimpl/statlib.py
  crosshair/libimpl/statlib_ch_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Accept uppercase hex digits in symbolic bytes.fromhex
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Support ipaddress.ip_network/ip_interface on symbolic args
  crosshair/libimpl/ipaddresslib.py
  doc/source/changelog.rst
Due: doctest, help in doc

Drop the int-vs-NaN test
  crosshair/libimpl/builtinslib_test.py
Due: none

measure_support: measure free-function in-place mutators
  crosshair/tools/measure_support.py
Due: none

Fix synthesized-call receiver name colliding with an argument
  crosshair/inputgen.py
  crosshair/tools/measure_support.py
Due: none

Make stdlib/builtin value types drivable as method receivers
  crosshair/fuzz_core_test.py
  crosshair/inputgen.py
Due: none

Short-circuit is_possible() on concrete bool operands
  crosshair/statespace.py
Due: none

Extract reachable_sequence_pairs for symbolic sequence subscripts
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
Due: none

Scope the subscript-speedup changelog note to its findings
  doc/source/changelog.rst
Due: doctest, help in doc

Faster symbolic indexing into some concrete sequences (#482)
  crosshair/libimpl/builtinslib_test.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  crosshair/statespace.py
  doc/source/changelog.rst
Due: doctest, help in doc

Raise IndexError/KeyError for out-of-range symbolic subscripts
  crosshair/fuzz_core_test.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
