Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Fix generated test imports for nested identifiers
  crosshair/path_cover.py
  crosshair/path_cover_test.py
Due: none

Avoid unecessary slicing in find/rfind
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Selectively default max_uninteresting_iterations
  crosshair/core.py
  crosshair/fuzz_core_test.py
  crosshair/lsp_server.py
  crosshair/main.py
  crosshair/options.py
  crosshair/statespace.py
  crosshair/watcher.py
  doc/source/contracts.rst
  doc/source/cover.rst
  doc/source/diff_behavior.rst
Due: doctest, help in doc

Fix crash when slicing a list with symbolic step
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/opcode_intercept.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.45
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix pytest.raises matching with quote characters
  crosshair/path_cover.py
  crosshair/path_cover_test.py
Due: none

Tweak debug messaging
  crosshair/core.py
  crosshair/main.py
Due: help in doc

Simplify smt exprs from typical list.index cases
  crosshair/libimpl/builtinslib.py
Due: none

Improve exception message fidelity
  crosshair/libimpl/builtinslib.py
Due: none

Fix counterexample formatting for *a, **kw args.
  crosshair/condition_parser_test.py
  crosshair/core_test.py
  crosshair/util.py
  crosshair/util_test.py
Due: none

Do not alias types in couterexamples
  crosshair/util.py
  crosshair/util_test.py
Due: none

Add support for staticmethods on cover command
  crosshair/fnutil.py
  crosshair/main.py
  crosshair/main_test.py
Due: help in doc

Add realized output debugs for cover command
  crosshair/path_cover.py
Due: none

Replace ModuleNotFound guard w/ ImportError
  crosshair/condition_parser.py
Due: none

Improve error on statespace misuse
  crosshair/statespace.py
Due: none

Patch StringIO() to return our implementation
  crosshair/libimpl/iolib.py
  crosshair/libimpl/iolib_ch_test.py
Due: none

Improve error message for post-path symbolic use
  crosshair/statespace.py
Due: none

Catch arg copy errors in summarize_execution()
  crosshair/test_util.py
Due: none

Support floating point mod, floordiv, & divmod
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
Due: none

Support floats in timedeltas
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

Avoid walrus operator for Python 3.7
  crosshair/util_test.py
Due: none

Ensure timedelta components are integers
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

Skip tests that can fail on float imprecision
  crosshair/libimpl/datetimelib.py
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
