Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Fix changelog rst formatting
  doc/source/changelog.rst
Due: doctest, help in doc

Fix dict construction from iterator
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.53
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix a few reference management issues
  crosshair/_tracers.c
Due: none

Comment equivalent z3 operations in z3util.py
  crosshair/z3util.py
Due: none

Remove direct statespace references from symbolics
  crosshair/copyext_test.py
  crosshair/core_test.py
  crosshair/libimpl/builtinslib.py
Due: none

Add support for NewType
  crosshair/core.py
  crosshair/core_test.py
Due: none

Bump version to 0.0.54
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix repr for concrete lists with symbolic contents
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

De-optimize various container reprs
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Ensure dict.__or__ type checks its argument
  crosshair/libimpl/builtinslib_test.py
  crosshair/simplestructs.py
Due: none

Parameterize fuzz_core_test
  crosshair/fuzz_core_test.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
Due: none

Upgrade z3 version
  crosshair/examples/PEP316/correct_code/numpy_examples.py
  setup.py
Due: __init__ + setup.py

Run builds on latest OS images
  .github/workflows/buildwheels.yml
Due: none

Un-defer days-in-month check
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/datetimelib.py
Due: none

adjust test timeouts
  crosshair/_tracers_test.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/datetimelib_ch_test.py
Due: none

Do not let z3 swallow ctrl-c
  crosshair/statespace.py
Due: none

Bump version to 0.0.55
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

handle sre_parse deprecation
  crosshair/libimpl/relib.py
Due: none

Bump version to 0.0.56
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
