Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Add early support for 3.14 (alpha 6)
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/_tracers_test.py
  crosshair/condition_parser.py
  crosshair/condition_parser_test.py
  crosshair/copyext.py
  crosshair/copyext_test.py
  crosshair/dynamic_typing.py
  crosshair/fnutil_test.py
  crosshair/libimpl/arraylib.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/collectionslib.py
  crosshair/libimpl/collectionslib_test.py
  crosshair/lsp_server.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  crosshair/tracers.py
  crosshair/type_repo.py
  crosshair/unicode_categories.py
  crosshair/util.py
  setup.cfg
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Use finite times and intercept time.sleep
  crosshair/libimpl/timelib.py
  crosshair/libimpl/timelib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.85
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Opt-in to the "build" tool for building wheels
  .github/workflows/buildwheels.yml
Due: none

Remove unused __iter__ implementation
  crosshair/util.py
Due: none

Increase test name uniqueness
  crosshair/libimpl/builtinslib_test.py
Due: none

Optimie indexing concrete container by symbolic
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/typeslib_test.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
Due: none

Optimize indexing concrete container by symbolic
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
Due: none

Increase solver timeout when realizing inputs
  crosshair/statespace.py
Due: none

Tweak concrete container/symbolic index work
  crosshair/opcode_intercept.py
Due: none

Bump version to 0.0.86
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Add requirements for docs in pdf format
  .gitignore
  doc/source/conf.py
  setup.py
Due: __init__ + setup.py

Complete the mask-to-mod conversion logic
  crosshair/libimpl/builtinslib.py
  setup.py
Due: __init__ + setup.py

Update CI to ubuntu-24.04
  .github/workflows/buildwheels.yml
  .github/workflows/check.yml
  .readthedocs.yml
Due: none

Remove duplicative bytecode de-optimization
  crosshair/_mark_stacks.h
Due: none

Allow os.posix_spawn in some cases
  crosshair/auditwall.py
Due: none

solidify auditwall module-in-stack detection
  crosshair/auditwall.py
Due: none
