Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python/black
    rev: 22.3.0  # synchronize this version number with setup.py
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - "--count"
          - "--show-source"
          - "--statistics"
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.5  # synchronize this version number with setup.py
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
      - id: pydocstyle
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
      - id: mypy
  - repo: local
    hooks:
      - id: doctest
        name: Run doctest
        entry: python -m doctest
        language: system
        files: .+\.rst|README\.md
      - id: __init__ + setup.py
        name: Check __init__ matches setup.py
        entry: python crosshair/tools/check_init_and_setup_coincide.py
        language: system
        files: __init__\.py|setup\.py
      - id: help in doc
        name: Check help in doc
        entry: python crosshair/tools/check_help_in_doc.py --overwrite
        language: system
        pass_filenames: false
        files: .+\.rst|main\.py
      - id: smoke test
        name: Run smoke tests
        entry: env PYTHONHASHSEED=0 python -m pytest -m smoke -n 3
        language: system
        pass_filenames: false
      - id: pytest
        name: Run all pytest tests
        entry: env PYTHONHASHSEED=0 python -m pytest -n 3
        language: system
        stages: [manual]
        pass_filenames: false

Tweak date delta tests
  crosshair/libimpl/datetimelib_test.py
Due: none

Intercept concrete list indexed by symbolic index.
  crosshair/libimpl/datetimelib_test.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.68
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Fix regression in statespace logging
  crosshair/statespace.py
Due: none

Fix interpreter stack corruption on 3.12
  crosshair/_mark_stacks.h
  crosshair/_tracers.c
  crosshair/_tracers.h
  crosshair/core.py
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  crosshair/tracers.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Fix deep_realize corruption with transient objects
  crosshair/copyext.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Improve TypeError fidelity
  crosshair/simplestructs.py
Due: none

Ensure len() is calculated with tracing
  crosshair/libimpl/builtinslib.py
Due: none

Make fuzz test quality-of-life improvements
  crosshair/fuzz_core_test.py
Due: none

Bump version to 0.0.69
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

don't hash sequence contents when indexing
  crosshair/opcode_intercept.py
  crosshair/opcode_intercept_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.70
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Ensure symbolic dicts realize properly
  crosshair/simplestructs.py
  crosshair/simplestructs_test.py
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version in changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.71
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Remove excessive .var accesses in tests
  crosshair/core_test.py
  crosshair/libimpl/bisectlib_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/codecslib_test.py
  crosshair/libimpl/fractionlib_test.py
  crosshair/libimpl/itertoolslib_test.py
  crosshair/libimpl/mathlib_test.py
  crosshair/libimpl/randomlib_test.py
  crosshair/libimpl/relib_test.py
  crosshair/libimpl/typeslib_test.py
  crosshair/opcode_intercept_test.py
Due: none

Rename CrosshairInternal to CrossHairInternal
  crosshair/copyext.py
  crosshair/core.py
  crosshair/core_test.py
  crosshair/fuzz_core_test.py
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/relib.py
  crosshair/libimpl/relib_test.py
  crosshair/opcode_intercept.py
  crosshair/path_search.py
  crosshair/pathing_oracle.py
  crosshair/statespace.py
  crosshair/type_repo.py
  crosshair/util.py
  crosshair/util_test.py
  crosshair/watcher.py
Due: none

Remove unused constants & logic
  crosshair/libimpl/builtinslib.py
Due: none

Un-global the seq based smt sort constant
  crosshair/libimpl/builtinslib.py
Due: none

Add an assert_tracing conversion
  crosshair/statespace.py
Due: none

Introduce the ModelingDirector
  crosshair/libimpl/builtinslib.py
Due: none

Remove RealBasedSymbolicFloat specific logic
  crosshair/libimpl/builtinslib.py
Due: none

Remove redundant intolerance check
  crosshair/core.py
Due: none

Move some methods into SymbolicFloat superclass
  crosshair/libimpl/builtinslib.py
Due: none

Initial PreciseIeeeSymbolicFloat implementation
  crosshair/libimpl/builtinslib.py
Due: none

Start an smtlib module
  crosshair/smtlib.py
  crosshair/smtlib_test.py
Due: none

Generate traceback early in ExecutionResult
  crosshair/test_util.py
Due: none

Continued PreciseIeeeSymbolicFloat wotk
  crosshair/libimpl/builtinslib.py
  crosshair/libimpl/builtinslib_ch_test.py
  crosshair/libimpl/builtinslib_test.py
  crosshair/libimpl/mathlib.py
  crosshair/libimpl/mathlib_test.py
  crosshair/patch_equivalence_test.py
  crosshair/statespace.py
Due: none

Fix tracebacks in summarize_execution
  crosshair/copyext.py
  crosshair/core.py
  crosshair/test_util.py
  crosshair/util.py
Due: none
