Repository pschanely/CrossHair: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, __init__ + setup.py, help in doc

doctest:
  name: Run doctest
  entry: python -m doctest
  language: system

__init__ + setup.py:
  name: Check __init__ matches setup.py
  entry: python crosshair/tools/check_init_and_setup_coincide.py
  language: system

help in doc:
  name: Check help in doc
  entry: python crosshair/tools/check_help_in_doc.py --overwrite
  language: system
  pass_filenames: false

Bump cibuildwheel version
  .github/workflows/buildwheels.yml
Due: none

Avoid confusing (under CrossHair) pytest features
  setup.cfg
Due: none

Add identity check to SimpleDict lookups
  crosshair/simplestructs.py
Due: none

Skip 3.13 buildwheel test on win32
  .github/workflows/buildwheels.yml
Due: none

Skip useless string processing on StringIO writes
  crosshair/libimpl/iolib.py
Due: none

Update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Bump version to 0.0.78
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

Pyodide build action, attempt 1
  .github/workflows/pyodide.yml
Due: none

pyodide build work, part 2
  .github/workflows/pyodide.yml
  setup.py
Due: __init__ + setup.py

Remove whitespace
  .github/workflows/pyodide.yml
Due: none

wip
  crosshair/diff_behavior.py
  crosshair/fuzz_core_test.py
  crosshair/test_util.py
Due: none

Loosen diff behavior equality comparisons
  crosshair/diff_behavior.py
  crosshair/diff_behavior_test.py
  crosshair/fuzz_core_test.py
  crosshair/test_util.py
  crosshair/test_util_test.py
Due: none

Add docs for new diff_behavior logic
  doc/source/diff_behavior.rst
Due: doctest, help in doc

Tighten proxy intolerance detection
  crosshair/core.py
  doc/source/changelog.rst
  doc/source/diff_behavior.rst
Due: doctest, help in doc

Add an identity check to flexible_equal
  crosshair/test_util.py
Due: none

Bump version to 0.0.79
  crosshair/__init__.py
  setup.py
Due: __init__ + setup.py

add option to treat exceptions as equivalent
  crosshair/diff_behavior.py
  crosshair/diff_behavior_test.py
  crosshair/main.py
Due: help in doc

add test
  crosshair/diff_behavior_test.py
Due: none

Twitter? What's that?
  doc/source/contributing.rst
Due: doctest, help in doc

encapsulate ExceptionEquivalence in enum
  crosshair/diff_behavior.py
  crosshair/diff_behavior_test.py
  crosshair/main.py
Due: help in doc

reduce duplication in tests
  crosshair/diff_behavior_test.py
Due: none

ignore flake8 check for bare except
  crosshair/diff_behavior_test.py
Due: none

lint files
  crosshair/diff_behavior.py
  crosshair/diff_behavior_test.py
  crosshair/main.py
Due: help in doc

lint
  crosshair/diff_behavior_test.py
Due: none

return IgnoreAttempt
  crosshair/diff_behavior.py
  crosshair/util.py
Due: none

revert wrap inside IgnoreAttempt
  crosshair/diff_behavior.py
  crosshair/util.py
Due: none

add type information for mypy
  crosshair/diff_behavior_test.py
  crosshair/util.py
Due: none

run pre-commit
  doc/source/diff_behavior.rst
Due: doctest, help in doc

add myself to the contributor list :eyes:
  doc/source/contributing.rst
Due: doctest, help in doc

fix (some) failing tests
  crosshair/diff_behavior.py
  crosshair/main_test.py
Due: none

swap order of clauses
  crosshair/diff_behavior.py
Due: none

add option to treat exceptions as equivalent
  crosshair/diff_behavior.py
  crosshair/diff_behavior_test.py
  crosshair/main.py
  crosshair/main_test.py
  doc/source/contributing.rst
  doc/source/diff_behavior.rst
Due: doctest, help in doc

Fix bug in diffbehavior NaN equivalence (& test)
  crosshair/diff_behavior.py
  crosshair/diff_behavior_test.py
Due: none

update changelog
  doc/source/changelog.rst
Due: doctest, help in doc

Path conditions:
  doctest: any of: .+\.rst|README\.md
  __init__ + setup.py: any of: __init__\.py|setup\.py
  help in doc: any of: .+\.rst|main\.py
